@font-face {
    font-family: simpsonfont;
    src: url("./fuentes/Simpsonfont\ DEMO.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: simpsonfont;
    background-color: rgb(109, 84, 125);
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    background-image: url(./imagenes/imagen2simpson.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0;
}

.logo {
    width: 160px;
    cursor: pointer;
    object-fit: cover;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ff5a2c;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt h1 {
    font-size: 50px;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 25px;
}

.header-txt span {
    color: yellow;
}

.header-txt p {
    font-size: 17px;
    color: #e0e0e0;
    margin-bottom: 45px;
}

.butons {
    display: flex;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #ff5a2c;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: black;
    font-weight: 600;

}

.btn-1:hover {
    background-color: #ff5a2c;
}

h2 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 45px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product-1 {
    background-color: #2A223A;

}

.product-txt {
    padding: 50px 30px;
}

h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.link ul li>a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20px;
}

.link ul li>a:hover {
    color: #ff5a2c;
}

.socials {
    display: flex;
    margin-bottom: 30px;
}

.socials a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #00c3ff;
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
}

.socials a:hover {
    background-color: #ffffff;
}

hr {
    border: 1px solid #e0e0e0;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-text p {
    font-size: 15px;
    color: #ffffff;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: yellow;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: red;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 60vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        text-align: center;
        flex-basis: 100%;
    }

    .header-txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .butons {
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .product {
        padding: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product-1 img {
        width: 100%;
    }

    .footer {
        padding: 30px;
    }

    .footer-link {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        justify-content: center;
    }

    .footer-text {
        text-align: center;
    }
}

/*-------------Estilo header pagina personajes------------------*/

.headerpersonajes {
    background-image: url(imagenes/Simpsons\ personajes\ lll.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 30vh;
    padding: 80px 0;
}

.header-content-personajes{
    margin: auto;
    max-width: 90%;
}

/*---------------Estilo para body de pagina personajes--------*/
.tab-personajes {
    margin: auto;
    max-width: 90%;

}

.tab-personajes ul {
    display: flex;

}

.tab-personajes ul li {
    list-style: none;
    background-color: #FFD733;
    padding: 1em;
    border: 1px solid #eec00b;
    font-weight: bold;
    border-radius: 5%;
    font-family: 'Courier New', Courier, monospace;

}

.contenedor-personajes {
    background-color: #FFD733;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 90%;
    border: 1px solid #eec00b;
}

.personaje {
    width: 20%;
    margin: 2em;
}

.personaje figure img {
    height: 106px;
}

.personaje h3 {
    color: black;
}

.personaje a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    transform: scale(1.2, 1.2);
}

/*---------Estilo para páginas de cada personajes-----------*/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

div article p {
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
}

aside p {
    font-family: 'Courier New', Courier, monospace;
}

aside h2 {
    padding: 2rem;
}

article img {
    max-width: 40%;
    padding: 2rem;
    margin: auto;

}

div article h1 {
    font-size: 3rem;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 25px;
}

aside h2 {
    font-size: 2rem;
    color: #ffffff;
}

.con-sidebar {
    display: flex;
    justify-content: space-between;
}

aside {
    flex-basis: calc(33.3% - 2rem);
}

article {
    flex-basis: calc(66.7% - 2rem);
}

/*---------Estilo para página En construccion-----------*/

.enconstruccion-ppl {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;

}

.enconstruccion-ppl div p {
    font-size: 2rem;
    justify-content: center;
}

/*--------------Animación rosquilla-------------------*/

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.enconstruccion-ppl img {
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/*-------------Estilo página de Contacto------------------*/

.headercontacto{
    background-image: url(imagenes/Simpsons\ personajes\ lll.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 30vh;
    padding: 80px 0;

}

.headercontacto a{
    text-decoration: none;
}

.container-sm{
    margin-top: 2rem;
}

.container-sm p{
    font-size: 1.5rem;
    color: #ffffff;
    
}

#nombre{
    font-family: 'Courier New', Courier, monospace;
}

#email{
    font-family: 'Courier New', Courier, monospace;
}

.link ul li>a{
    text-decoration: none;
}

